* {
	margin: 0;
}
img {
	border:none;
}

hr {
	height:1px;
}

strong {
	font-weight:bolder;
}

body {
	min-width: 1050px;
	background-color: #7fbbff; 
	margin: 0px;
	font-family: 'allerregular', Verdana, Arial, Helvetica, sans-serif;
	text-align: center;	
	font-size:14px;	
	color: #686868;
}

#exo {
	position: relative;
	width:1050px;
	margin: 0 auto;	
		
	text-align:left;
}
#top {
	position:relative;
	width: 100%;
	height: 150px;
}
#topBar {
	position:relative;
	width: 100%;
	height: 110px;

	background-image: url(../images/topBg.png);
	background-repeat: repeat-x;
	background-position: top;
	
}
.reCAPTCHA{
    display: box;
}
.reCAPTCHA div{
    margin: 0 auto;
}
.agreementTitle{
    font-size:14px;
}
#topMenu {
	position:relative;
	width: 100%;
	height: 40px;

	background-image: url(../images/menuBg.png);
	background-repeat: repeat-x;
	background-position: top;
	
}
#topShadow {
	position:relative;
	width: 100%;
	height: 150px;
	z-index: 1;
	
	background-image: url(../images/topShadow.png);
	background-repeat: repeat-x;
	background-position: top;	
}

#logo {
	position:absolute;
	left:23px;
	top:14px;
	width:380px;
	height:86px;
}

#slogan {
	position:absolute;
	left:457px;
	top:32px;
	width:513px;
	height:52px;
}

#menuBg {
	position:absolute;
	left:0px;
	top:110px;
	width:3px;
	height:40px;
}
#banner {
	width: 970px;
	height:430px;
}
#bannerMarker {
	position:relative;
	height:31px;
	top: -16px;
	z-index: 1;
	background-image:url(../images/bannerMarker.png);
	background-repeat:no-repeat;
}

#content {
	position:relative;
	top: -16px;
	background-color:#dfdfdf;
	padding: 12px 12px 12px 12px;
}
#whiteBox {
	background-color:#ffffff;
	padding: 12px;
	margin-bottom: 12px;
}
#grayBox {
	background-color:#fafafa;
	padding: 10px;
	margin-bottom: 12px;
	border: 1px solid #daebff;
	font-size:13px
}
#grayBox h1 {
	text-transform:uppercase;
	font-size:12px;
	padding-bottom:5px;
	margin-bottom: 5px;	
	color: #ff6600;
	font-style:italic;
	border-bottom: 2px dotted #009cd6;
}

#blueBox {
	background-color:#009cd6;
	padding: 15px;
	margin-bottom: 12px;
	border: 1px solid #daebff;
	font-size:13px
}
#blueBox h1 {
	font-size:18px;
	color: #fff;
	text-align:center;
	text-transform:uppercase;
}
#blueBox h1 a:hover, 
#blueBox h1 a:link,
#blueBox h1 a:active,
#blueBox h1 a:visited {
	color: #fff;	
	text-decoration:none;
}

#textBox {
	background-color:#ffffff;
	padding: 20px;
	margin-bottom: 12px;
	text-align:justify;
}
#textBox a:link, #textBox a:visited, #textBox a:active {
	color: #009cd6;
	text-decoration:none;
}
#textBox a:hover {
	text-decoration:underline;
}
#textLeft {
	float: left;
	width: 650px;
}
#textRight {
	float: right;
	width: 300px;
}
#column {
	float: left;
	width: 325px;
	
}
#columnImage {
	width: 300px;
	height: 200px;
	background-color: #dfdfdf;
}
#columnTitle {
	width: 300px;
	height: 50px;
	background-image:url(../images/titleBg.png);
	background-repeat:no-repeat;
	padding-left: 10px;
	
	font-family: 'alleritalic';
	line-height:50px;
	font-size: 22px;
	color: #ffffff;
}
#columnTitle a:link, #columnTitle a:visited, #columnTitle a:active, #columnTitle a:hover {
	color: #ffffff;
	text-decoration:none;
}
#columnSpacing {
	float:left;
	width: 10px;
	height: 1px;
}

#title {
	height: 40px;
	background-color:#ffffff;
	border-top-width: 6px;
	border-top-style: solid;
	border-top-color: #009cd6;	
	padding-top: 16px;
}
#title #bigLine {
	float:left;
	width: 100%;
	height: 35px;
	background-color: #ff9045;
}
#title h1{
	float:left;
	display:inline-block;
	height: 35px;
	padding: 0 10px 0 10px;
	background-color:#ffffff;
	
	font-family: 'allerbold';
	text-transform:uppercase;
	line-height:22px;
	font-size: 40px;
	color: #686868;
}

#title #h1LeftBg {
	float:left;
	display:inline-block;
	width:17px;
	height:35px;
	margin-left:20px;
	background:url(../images/h1LeftBg.png);
	background-color:#FFFFFF;
}

#title #h1RightBg {
	float:left;
	display:inline-block;
	width:20px;
	height:35px;
	background:url(../images/h1RightBg.png);
	background-color:#FFFFFF;
}
#bottom {
	position:relative;
	top: -16px;
	padding: 20px;
	margin-bottom: 10px;
	background-color:#686868;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #009cd6;
	border-bottom-width: 6px;
	border-bottom-style: solid;
	border-bottom-color: #434343;
	color: #dfdfdf;
}
#credits {
	margin-bottom: 20px;
	
	text-align:right;
	font-size: 12px;
	color: white;	
}

#credits a{
	color: white;	
	text-decoration: none;
}
#credits a:hover{
	color: white;	
	text-decoration: underline;
}

#clear {
	clear:both;
}
#lightBox{
	padding: 10px 20px 10px 20px;

	border-radius: 5px; /* Most browsers */
	-webkit-border-radius: 5px; /* Old Webkit and mobile */	
				
	background:#ffffff; /*Basic browser*/
	box-shadow: 0 0 5px #888;	

	color: #3d3d3d;
	font-size: 14px;
}
.input {
	width: 200px;
	height: 18px;
	
	color: #333333;
	font-size:12px;
	font-weight:bold;
}

.inputMultiline {
	width: 200px;
	height: 45px;
	
	color: #333333;
	font-size:12px;
	font-weight:bold;
}

.select {
	width: 205px;
	height: 18px;
	
	color: #333333;
	font-size:12px;
	font-weight:bold;
}
.textarea {
	width:99%;
	height: 50px;
	resize:none;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	font-size:10px;
	font-weight:bold;
}
.blueButton {
	float: right;
	
	padding: 7px;

	border-radius: 5px; /* Most browsers */
	-webkit-border-radius: 5px; /* Old Webkit and mobile */	
	
	background:#3c93e8; /*Basic browser*/
	background-image: -webkit-linear-gradient(top, #3c93e8 0%, #1773ce 100%); /* Webkit Safari/Chrome 11+) */		
	background-image: -moz-linear-gradient(top, #3c93e8 0%, #1773ce 100%);/* Firefox */ 
	background-image: -ms-linear-gradient(top, #3c93e8 0%, #1773ce 100%); /* IE10 */ 
    background-image: -o-linear-gradient(top, #3c93e8 0%, #1773ce 100%); /* Opera */ 
    -pie-background: linear-gradient(#3c93e8, #1773ce); /* IE6-9 */
	
	color: #ffffff;
	
	font-size: 12px;
	font-weight:bold;
	line-height:16px;
	
	behavior: url(css/PIE.php); /* IE 6-9 library */	
}
.panel {
	padding: 15px;
	background-color: #FAFAFA;
	border: 1px dotted #FDA368;
}
.panel h2{
	color: #009cd6;
	text-transform: uppercase;
	display: inline;
	margin-left: 5px;
	font-size:15px;
}
label#hiddenRecaptcha-error {
	color: red;
	font-weight: bolder;
}
.panel input {
	vertical-align: baseline;
}
span.invalid.purposeValidation {
	position: relative;
	top: -40px;
	text-align: -webkit-right;
	padding: 5px;
	text-decoration: underline;
	left: -30px;
}
#leftFormColumn {
	float:left;
	width:44%;

	text-align:right;
	vertical-align:middle;	
}
#rightFormColumn {
	float:right;
	width:54%;
	margin-bottom:5px;
	
	text-align:left;
}

h2 {
	color: #009cd6;
	text-align:center;
	text-transform:uppercase;
}
.centered {
	text-align:center;
}
.small {
	font-size:12px;
}
.smallest {
	font-size:10px;
}
#dottedHr {
	height:1px;
	margin-top: 15px;
	margin-bottom:15px;
	
	border-top: 2px dotted #CACACA;
}
.red {
	color:red;
}

.icon {
	vertical-align: middle;
	margin-right: 7px;
}


table {
	border-collapse:collapse;
}

.tableH1 {
	color:#ff6600;
	font-size:16px;
	font-weight: bold;	
}
.tableH2 {
	font-size:14px;
	color: #009cd6;
	text-transform:uppercase;
	font-weight: bold;	
}
.tableCellOrange {
	background-color:#ffd0b1;
}
.tableCellBlue {
	background-color:#bbeeff;
}

#smallPictures {
	height: 140px;
	margin: 10px 0 10px 0;
}

.imgFloatRound {
	float:left;
	margin-right:7px;
	border-radius: 4px; /* Most browsers */
	-webkit-border-radius: 4px; /* Old Webkit and mobile */	
	
	box-shadow: 0 1px 1px #454545;	
}
.invalid {
	color: red !important;
}

/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 30.06.2009
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <ul><li><a href="#"><span>level 3</span></a></li></ul>
 *                  </li>
 *              </ul>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

/* menu::base */
div#menu {
    height:41px;
}

div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
div#menu ul.menu {
    padding-left: 10px;
}

div#menu li {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0 5px 0 0;
    display: block;
    float: left;
}
div#menu li:hover>ul {
    left: -2px;
}

div#menu a {
    position: relative;
    z-index: 10;
    height: 41px;
    display: block;
    float: left;    
	line-height: 41px;
   
   	text-decoration: none;
	font-family: 'allerregular';
	font-size: 16px;
	text-transform:uppercase;
	text-shadow: 0px 0px 4px #222;  /* x-axis y-axis size color */	
}
div#menu a:hover, div#menu a:hover span { color: #fff; }
div#menu li.current a {}

div#menu span {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
}
div#menu ul ul a.parent span {
    background-position:95% 8px;
    background-image: url(images/item-pointer.gif);
}
div#menu ul ul a.parent:hover span {
    background-image: url(images/item-pointer-mover.gif);
}

/* menu::level1 */
div#menu a {
    padding: 0 10px 0 10px;
    line-height: 30px;
    color: #e5e5e5;	
}
div#menu span {
    margin-top: 5px;
}/**@replace#1*/
div#menu li { background: url(images/menuDivisor.png) right top no-repeat; }
div#menu li.last { background: none; }

/* menu::level2 */
div#menu ul ul li { background: none; }
div#menu ul ul {
    position: absolute;
    top: 39px;
    left: -999em;
    width: 230px;
    padding: 5px 0 5px 0;
    background: rgb(45,45,45);
    margin-top:1px;
	
}
div#menu ul ul a {
    padding: 0 0 0 15px;
    height: auto;
    float: none;
    display: block;
    line-height: 24px;
	font-size: 12px;
	text-transform:none;
}
div#menu ul ul span {
    margin-top: 0;
    padding-right: 15px;
    color: rgb(169,169,169);
}
div#menu ul ul a:hover span {
    color: #ffffff;
}
div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu ul ul ul {
    padding: 0;
    margin: -38px 0 0 163px !important;
    margin-left:172px;
}

/* colors */
div#menu ul ul ul { background: rgb(41,41,41); }
div#menu ul ul ul ul { background: rgb(38,38,38); }
div#menu ul ul ul ul { background: rgb(35,35,35); }

/* lava lamp */
div#menu li.back {
    background: url(images/lava.png) no-repeat right -44px  !important;
    background-image: url(images/lava.gif);
    width: 13px;
    height: 44px;
    z-index: 8;
    position: absolute;
    margin: -1px 0 0 -5px;
}
div#menu li.back .left {
    background: url(images/lava.png) no-repeat top left  !important;
    background-image: url(../images/lava.gif);
    height: 44px;
    margin-right: 8px;
}

/*# sourceMappingURL=site.css.map */
